
 The following SQL statements will be executed:

     CREATE TABLE category (id INT AUTO_INCREMENT NOT NULL, name VARCHAR(20) NOT NULL, desciption VARCHAR(100) NOT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     CREATE TABLE desktop (id INT AUTO_INCREMENT NOT NULL, id_subcategory_id INT NOT NULL, id_product_id INT NOT NULL, ram_memory VARCHAR(20) NOT NULL, ram_technology VARCHAR(20) NOT NULL, ram_frequency VARCHAR(20) DEFAULT NULL, hard_disk VARCHAR(20) NOT NULL, processor_maker VARCHAR(20) NOT NULL, processor_model VARCHAR(20) NOT NULL, processor_velocity VARCHAR(20) NOT NULL, processor_core VARCHAR(20) NOT NULL, processor_cache VARCHAR(20) NOT NULL, graphic_maker VARCHAR(20) NOT NULL, graphic_model VARCHAR(20) NOT NULL, graphic_technology VARCHAR(20) NOT NULL, graphic_capacity VARCHAR(20) NOT NULL, graphic_interface VARCHAR(20) NOT NULL, usb2_0 INT NOT NULL, usb3_0 INT NOT NULL, hdmi INT NOT NULL, dvi INT DEFAULT NULL, bluetooth INT DEFAULT NULL, INDEX IDX_96105A460A04351 (id_subcategory_id), INDEX IDX_96105A4E00EE68D (id_product_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     CREATE TABLE laptop (id INT AUTO_INCREMENT NOT NULL, id_subcategory_id INT NOT NULL, id_product_id INT NOT NULL, ram_memory VARCHAR(20) NOT NULL, ram_techology VARCHAR(20) NOT NULL, ram_frequency VARCHAR(20) DEFAULT NULL, hard_disk VARCHAR(20) NOT NULL, hard_disk_technology VARCHAR(20) NOT NULL, processor_maker VARCHAR(20) NOT NULL, processor_model VARCHAR(20) NOT NULL, processor_velocity VARCHAR(20) NOT NULL, processor_core VARCHAR(20) NOT NULL, processor_cache VARCHAR(20) NOT NULL, graphic_maker VARCHAR(20) NOT NULL, graphic_model VARCHAR(20) NOT NULL, graphic_technology VARCHAR(20) NOT NULL, graphic_capacity VARCHAR(20) NOT NULL, graphic_interface VARCHAR(20) NOT NULL, usb2_0 INT NOT NULL, usb3_0 INT DEFAULT NULL, hdmi INT DEFAULT NULL, dvi INT DEFAULT NULL, bluetooht INT DEFAULT NULL, bluetooht_version VARCHAR(5) DEFAULT NULL, screen_size VARCHAR(30) DEFAULT NULL, screen_resolution VARCHAR(30) NOT NULL, screen_frequency VARCHAR(30) DEFAULT NULL, battery_capacity VARCHAR(30) DEFAULT NULL, battery_charge_time VARCHAR(30) DEFAULT NULL, INDEX IDX_E001563B60A04351 (id_subcategory_id), INDEX IDX_E001563BE00EE68D (id_product_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     CREATE TABLE mouse (id INT AUTO_INCREMENT NOT NULL, id_subcategory_id INT NOT NULL, id_product_id INT NOT NULL, dpi VARCHAR(20) NOT NULL, type VARCHAR(20) NOT NULL, type_2 VARCHAR(20) NOT NULL, connector VARCHAR(20) NOT NULL, frequency VARCHAR(20) NOT NULL, INDEX IDX_AF35B6ED60A04351 (id_subcategory_id), INDEX IDX_AF35B6EDE00EE68D (id_product_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     CREATE TABLE `order` (id INT AUTO_INCREMENT NOT NULL, id_user_id INT NOT NULL, address VARCHAR(80) NOT NULL, amount DOUBLE PRECISION NOT NULL, shippiing_costs DOUBLE PRECISION NOT NULL, state VARCHAR(10) NOT NULL, date DATETIME NOT NULL, INDEX IDX_F529939879F37AE5 (id_user_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     CREATE TABLE order_product (id INT AUTO_INCREMENT NOT NULL, id_order_id INT NOT NULL, id_product_id INT NOT NULL, amount INT NOT NULL, INDEX IDX_2530ADE6DD4481AD (id_order_id), INDEX IDX_2530ADE6E00EE68D (id_product_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     CREATE TABLE product (id INT AUTO_INCREMENT NOT NULL, id_store_id INT NOT NULL, id_category_id INT NOT NULL, name VARCHAR(20) NOT NULL, model VARCHAR(20) NOT NULL, mark VARCHAR(20) NOT NULL, maker VARCHAR(20) NOT NULL, stock INT NOT NULL, description VARCHAR(300) NOT NULL, picture VARCHAR(200) NOT NULL, price DOUBLE PRECISION NOT NULL, disscount DOUBLE PRECISION DEFAULT NULL, second_hand TINYINT(1) NOT NULL, dimensions VARCHAR(30) DEFAULT NULL, weight VARCHAR(30) DEFAULT NULL, year INT DEFAULT NULL, INDEX IDX_D34A04ADE0494484 (id_store_id), INDEX IDX_D34A04ADA545015 (id_category_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     CREATE TABLE store (id INT AUTO_INCREMENT NOT NULL, id_user_id INT DEFAULT NULL, name VARCHAR(20) NOT NULL, username VARCHAR(20) NOT NULL, nif VARCHAR(9) NOT NULL, address VARCHAR(80) NOT NULL, balance DOUBLE PRECISION NOT NULL, description VARCHAR(300) NOT NULL, web_page VARCHAR(50) NOT NULL, UNIQUE INDEX UNIQ_FF57587779F37AE5 (id_user_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     CREATE TABLE sub_category (id INT AUTO_INCREMENT NOT NULL, id_category_id INT NOT NULL, name VARCHAR(20) NOT NULL, description VARCHAR(100) NOT NULL, INDEX IDX_BCE3F798A545015 (id_category_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     CREATE TABLE user (id INT AUTO_INCREMENT NOT NULL, roles LONGTEXT NOT NULL COMMENT '(DC2Type:json)', password VARCHAR(255) NOT NULL, username VARCHAR(15) NOT NULL, email VARCHAR(60) NOT NULL, name VARCHAR(20) NOT NULL, surname VARCHAR(20) NOT NULL, address VARCHAR(80) NOT NULL, birthday DATETIME NOT NULL, picture VARCHAR(60) DEFAULT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     ALTER TABLE desktop ADD CONSTRAINT FK_96105A460A04351 FOREIGN KEY (id_subcategory_id) REFERENCES sub_category (id);
     ALTER TABLE desktop ADD CONSTRAINT FK_96105A4E00EE68D FOREIGN KEY (id_product_id) REFERENCES product (id);
     ALTER TABLE laptop ADD CONSTRAINT FK_E001563B60A04351 FOREIGN KEY (id_subcategory_id) REFERENCES sub_category (id);
     ALTER TABLE laptop ADD CONSTRAINT FK_E001563BE00EE68D FOREIGN KEY (id_product_id) REFERENCES product (id);
     ALTER TABLE mouse ADD CONSTRAINT FK_AF35B6ED60A04351 FOREIGN KEY (id_subcategory_id) REFERENCES sub_category (id);
     ALTER TABLE mouse ADD CONSTRAINT FK_AF35B6EDE00EE68D FOREIGN KEY (id_product_id) REFERENCES product (id);
     ALTER TABLE `order` ADD CONSTRAINT FK_F529939879F37AE5 FOREIGN KEY (id_user_id) REFERENCES user (id);
     ALTER TABLE order_product ADD CONSTRAINT FK_2530ADE6DD4481AD FOREIGN KEY (id_order_id) REFERENCES `order` (id);
     ALTER TABLE order_product ADD CONSTRAINT FK_2530ADE6E00EE68D FOREIGN KEY (id_product_id) REFERENCES product (id);
     ALTER TABLE product ADD CONSTRAINT FK_D34A04ADE0494484 FOREIGN KEY (id_store_id) REFERENCES store (id);
     ALTER TABLE product ADD CONSTRAINT FK_D34A04ADA545015 FOREIGN KEY (id_category_id) REFERENCES category (id);
     ALTER TABLE store ADD CONSTRAINT FK_FF57587779F37AE5 FOREIGN KEY (id_user_id) REFERENCES user (id);
     ALTER TABLE sub_category ADD CONSTRAINT FK_BCE3F798A545015 FOREIGN KEY (id_category_id) REFERENCES category (id);
