{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	{% for  i,subcat in subcategories %}
		<div class="container-fluid col-10 mt-3">
			<h2 class="h2">
				{{ subcat.name }}
			</h2>
            {% if desktops %}
                jsadas
            {% endif %}
		</div>
	{% endfor %}
{% endblock %}
