<footer class="page-footer font-small blue pt-4 fixed-bottom mt-5">
	<div class="container-fluid text-center text-md-left mt-5">
		<div class="row justify-content-center justify-content-lg-around">
			<div class="col-xs-11 col-lg-4  mt-md-0 mt-5">
				<h5 class="h5  text-center mt-5">MultiStore</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam risus ipsum, venenatis vitae odio ut, sodales porttitor purus. Proin massa turpis, vehicula vulputate justo sed, lobortis mollis lacus. Curabitur eu semper tortor.</p>
				<p class="text-center">email: contacto@multistore.es</p>
				<p class="text-center">Dirección: Calle Avenida 42 Bajo E</p>
			</div>
			<hr	class="clearfix w-100 d-md-none pb-3">
			<div class="col-xs-12 col-lg-2 mb-lg-0 mb-xs-3">

				<!-- Links -->
				<h5 class=" h5 text-uppercase text-center mt-5">Productos</h5>

				<ul class="list-unstyled">
					<li class="text-center">
						<a href="#!"  >Ordenadores</a>
					</li>
					<li class="text-center">
						<a href="#!" >Periféricos</a>
					</li>
					<li class="text-center">
						<a href="#!" >Accesorios</a>
					</li>
					<li class="text-center">
						<a href="#!" >Gadgets</a>
					</li>
				</ul>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div
				class="col-xs-12 col-lg-2 mb-md-0 mb-3">

				<!-- Links -->
				<h5 class="h5 text-uppercase text-center mt-5">Navegación</h5>

				<ul class="list-unstyled">
					<li class="text-center">
						<a href="#!" >Home</a>
					</li>
					<li class="text-center">
						<a href="#!" >Productos</a>
					</li>
          <li class="text-center">
					<a href="#!" >Sobre Nosotros</a>
				</li>
			</ul>

		</div>
		<!-- Grid column -->

	</div>
	<!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3 mt-5 mb-5">© 2020 Copyright: Bernardo Morán Fernández-Trigales
</div>
<!-- Copyright --></footer><!-- Footer -->
