<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 col-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="">MultiStore</h5>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam risus ipsum, venenatis vitae odio ut, sodales porttitor purus. Proin massa turpis, vehicula vulputate justo sed, lobortis mollis lacus. Curabitur eu semper tortor.</p>
		<p>email: contacto@multistore.es</p>
		<p>Dirección: Calle Avenida 42 Bajo E</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Productos</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Ordenadores</a>
          </li>
          <li>
            <a href="#!">Periféricos</a>
          </li>
          <li>
            <a href="#!">Componentes</a>
          </li>
          <li>
            <a href="#!">Smartphones</a>
          </li>
		  <li>
            <a href="#!">Tablets</a>
          </li>
		  <li>
            <a href="#!">Accesorios</a>
          </li>
		  <li>
            <a href="#!">Gadgets</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Navegación</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Home</a>
          </li>
          <li>
            <a href="#!">Productos</a>
          </li>
          <li>
            <a href="#!">Segunda Mano</a>
          </li>
          <li>
            <a href="#!">Sobre Nosotros</a>
          </li>
		  <li>
            <a href="#!">Trabaja con MultiSotre</a>
          </li>
		  <li>
            <a href="#!">Contacto</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Bernardo Morán Fernández-Trigales
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->