<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">ICON_PLACE</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Productos
				</a>
				<ul
					class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

					<!-- https://stackoverflow.com/questions/44467377/bootstrap-4-multilevel-dropdown-inside-navigation -->
					<li class="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#">Ordedanores</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">PC/Sobremesa</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Another submenu action</a>
							</li>
						</ul>
					</li>

					<li class="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#">Periféricos</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">Teclado</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Ratón</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Pantalla</a>
							</li>
						</ul>
					</li>

					<li class="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#">Componentes</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">Disco duro</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Caja</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Placa base</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Procesador</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Tarjeta gráfica</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Fuente de alimentación</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Refrigeración</a>
							</li>
						</ul>
					</li>

					<li class="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#">Smartphones</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">PC/Sobremesa</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Another submenu action</a>
							</li>
						</ul>
					</li>

					<li class="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#">Tablets</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">PC/Sobremesa</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Another submenu action</a>
							</li>
						</ul>
					</li>

					<li class="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#">Accesorios</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">Funda</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Cargador</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Auriculares</a>
							</li>
						</ul>
					</li>

					<li class="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#">Gadgets</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">Smartwatch</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Webcam</a>
							</li>
						</ul>
					</li>

				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Segunda mano</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Sobre Nosotros</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Trabaja con MultiStore</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contacto</a>
			</li>
		</ul>
		<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			<div class="btn-group mr-2" role="group" aria-label="First group">
				<a>
					<button type="button" class="btn btn-secondary">Log In</button>
				</a>
			</div>
			<div class="btn-group mr-2" role="group" aria-label="Second group">
				<a>
					<button type="button" class="btn btn-secondary">Sing Up</button>
				</a>
			</div>
			<div class="btn-group" role="group" aria-label="Third group">
				<a>
					<button type="button" class="btn btn-secondary">
						<img src="{{ asset('images/carro-de-la-compra.png') }}" width="25px"/>
					</button>
				</a>
			</div>
		</div>
	</div>
</nav>

<!--  https://getbootstrap.com/docs/4.0/components/navbar/  -->
